header {
	line-height: 10px;
	text-align: center;
}

main {
	line-height: 20px;
	margin:	50px;
	padding: 10px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: center;
    width: 100%
}

.flex-box {
    width: 100%
	text-align: left;
}

.education {
	padding-top: 50px;

}

.item {
	padding-top: 20px;
}